In [1]:
import pandas as pd
import db_conn

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [24]:
src = pd.read_csv('./embeded_ps.csv', sep='\t')
src = src.iloc[:, 1:]

In [25]:
src.head()

,match_id,player_id,2YR,ASSIST,CA,CC,DAT,DC,DCIP,DCNIP,DPA,DZONE1,DZONE2,DZONE3,DZONE4,DZONE5,FOUL,Long_PA,Long_PC,Medium_PA,Medium_PC,OFF,POS,RC,SAT,SAVE,SCORE,SHOT,SPA,SPRINT,SRAT,SRPA,SUB,Short_PA,Short_PC,TA3RD,TG,TNG,TOH,TPA,TS,TSCORE,TSCORE_OG,TSCORE_PEN,TSL,TSNL,TTP,TZONE1,TZONE2,TZONE3,TZONE4,TZONE5,Total_PA,Total_PC,Total_PP,YC
0,1.0,1.0,0.0,0.0,3.0,3.0,1.0,4027.0,1818.0,1252.0,0.0,2955.0,919.0,137.0,16.0,0.0,0.0,25.0,10.0,9.0,9.0,0.0,Goalkeeper,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.00,0.0,0.0,0.00,0.00,14.83,0.0,0.0,0.0,0.0,0.0,5808.0,0.94,0.06,0.01,0.00,0.00,34.0,19.0,0.56,0.0
1,1.0,2.0,0.0,0.0,5.0,4.0,2.0,7997.0,2836.0,3301.0,0.0,3830.0,2593.0,877.0,500.0,197.0,0.0,8.0,7.0,39.0,36.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,NaN,10.0,9.0,0.05,1.0,2.0,0.08,0.02,27.90,0.0,0.0,0.0,0.0,1.0,5808.0,0.79,0.16,0.04,0.01,0.01,57.0,52.0,0.91,0.0
2,1.0,3.0,0.0,0.0,8.0,7.0,1.0,9040.0,3494.0,3465.0,0.0,4145.0,2942.0,1049.0,689.0,215.0,1.0,13.0,7.0,30.0,27.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,0.0,NaN,10.0,9.0,0.04,0.0,0.0,0.11,0.03,29.48,0.0,0.0,0.0,0.0,1.0,5808.0,0.76,0.17,0.04,0.02,0.01,53.0,43.0,0.81,0.0
3,1.0,4.0,0.0,0.0,2.0,1.0,6.0,9951.0,3942.0,3774.0,0.0,3005.0,4358.0,1349.0,786.0,453.0,0.0,4.0,3.0,36.0,30.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,3.0,0.0,NaN,24.0,22.0,0.06,0.0,2.0,0.24,0.00,28.80,0.0,0.0,0.0,0.0,0.0,5808.0,0.64,0.27,0.06,0.02,0.01,64.0,55.0,0.86,0.0
4,1.0,5.0,0.0,0.0,3.0,2.0,6.0,11323.0,4986.0,3969.0,2.0,3511.0,4462.0,2131.0,936.0,283.0,1.0,10.0,8.0,48.0,46.0,1.0,Midfield,0.0,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,NaN,19.0,17.0,0.13,0.0,0.0,0.38,0.01,28.37,0.0,0.0,0.0,2.0,0.0,5808.0,0.63,0.26,0.07,0.03,0.01,77.0,71.0,0.92,0.0

In [26]:
src_wo_draw = src[src.match_id.apply(lambda x: x not in [3,7,9,22,32,35,36,37,42,51,52,56,59])]
src_wo_draw.head()

,match_id,player_id,2YR,ASSIST,CA,CC,DAT,DC,DCIP,DCNIP,DPA,DZONE1,DZONE2,DZONE3,DZONE4,DZONE5,FOUL,Long_PA,Long_PC,Medium_PA,Medium_PC,OFF,POS,RC,SAT,SAVE,SCORE,SHOT,SPA,SPRINT,SRAT,SRPA,SUB,Short_PA,Short_PC,TA3RD,TG,TNG,TOH,TPA,TS,TSCORE,TSCORE_OG,TSCORE_PEN,TSL,TSNL,TTP,TZONE1,TZONE2,TZONE3,TZONE4,TZONE5,Total_PA,Total_PC,Total_PP,YC
0,1.0,1.0,0.0,0.0,3.0,3.0,1.0,4027.0,1818.0,1252.0,0.0,2955.0,919.0,137.0,16.0,0.0,0.0,25.0,10.0,9.0,9.0,0.0,Goalkeeper,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.00,0.0,0.0,0.00,0.00,14.83,0.0,0.0,0.0,0.0,0.0,5808.0,0.94,0.06,0.01,0.00,0.00,34.0,19.0,0.56,0.0
1,1.0,2.0,0.0,0.0,5.0,4.0,2.0,7997.0,2836.0,3301.0,0.0,3830.0,2593.0,877.0,500.0,197.0,0.0,8.0,7.0,39.0,36.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,NaN,10.0,9.0,0.05,1.0,2.0,0.08,0.02,27.90,0.0,0.0,0.0,0.0,1.0,5808.0,0.79,0.16,0.04,0.01,0.01,57.0,52.0,0.91,0.0
2,1.0,3.0,0.0,0.0,8.0,7.0,1.0,9040.0,3494.0,3465.0,0.0,4145.0,2942.0,1049.0,689.0,215.0,1.0,13.0,7.0,30.0,27.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,0.0,NaN,10.0,9.0,0.04,0.0,0.0,0.11,0.03,29.48,0.0,0.0,0.0,0.0,1.0,5808.0,0.76,0.17,0.04,0.02,0.01,53.0,43.0,0.81,0.0
3,1.0,4.0,0.0,0.0,2.0,1.0,6.0,9951.0,3942.0,3774.0,0.0,3005.0,4358.0,1349.0,786.0,453.0,0.0,4.0,3.0,36.0,30.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,3.0,0.0,NaN,24.0,22.0,0.06,0.0,2.0,0.24,0.00,28.80,0.0,0.0,0.0,0.0,0.0,5808.0,0.64,0.27,0.06,0.02,0.01,64.0,55.0,0.86,0.0
4,1.0,5.0,0.0,0.0,3.0,2.0,6.0,11323.0,4986.0,3969.0,2.0,3511.0,4462.0,2131.0,936.0,283.0,1.0,10.0,8.0,48.0,46.0,1.0,Midfield,0.0,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,NaN,19.0,17.0,0.13,0.0,0.0,0.38,0.01,28.37,0.0,0.0,0.0,2.0,0.0,5808.0,0.63,0.26,0.07,0.03,0.01,77.0,71.0,0.92,0.0

In [27]:
team_info = pd.DataFrame(db_conn.select_query('select * from team'))
player_info = pd.DataFrame(db_conn.select_query('select * from player'))
match_info = pd.DataFrame(db_conn.select_query('select * from wc_match'))

In [28]:
src_wo_draw['team_id'] = src_wo_draw.player_id.apply(lambda x: player_info[player_info.id == x].team_id.values[0])
src_wo_draw.head()

/usr/local/Cellar/python3/3.6.4_2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,match_id,player_id,2YR,ASSIST,CA,CC,DAT,DC,DCIP,DCNIP,DPA,DZONE1,DZONE2,DZONE3,DZONE4,DZONE5,FOUL,Long_PA,Long_PC,Medium_PA,Medium_PC,OFF,POS,RC,SAT,SAVE,SCORE,SHOT,SPA,SPRINT,SRAT,SRPA,SUB,Short_PA,Short_PC,TA3RD,TG,TNG,TOH,TPA,TS,TSCORE,TSCORE_OG,TSCORE_PEN,TSL,TSNL,TTP,TZONE1,TZONE2,TZONE3,TZONE4,TZONE5,Total_PA,Total_PC,Total_PP,YC,team_id
0,1.0,1.0,0.0,0.0,3.0,3.0,1.0,4027.0,1818.0,1252.0,0.0,2955.0,919.0,137.0,16.0,0.0,0.0,25.0,10.0,9.0,9.0,0.0,Goalkeeper,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.00,0.0,0.0,0.00,0.00,14.83,0.0,0.0,0.0,0.0,0.0,5808.0,0.94,0.06,0.01,0.00,0.00,34.0,19.0,0.56,0.0,2
1,1.0,2.0,0.0,0.0,5.0,4.0,2.0,7997.0,2836.0,3301.0,0.0,3830.0,2593.0,877.0,500.0,197.0,0.0,8.0,7.0,39.0,36.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,NaN,10.0,9.0,0.05,1.0,2.0,0.08,0.02,27.90,0.0,0.0,0.0,0.0,1.0,5808.0,0.79,0.16,0.04,0.01,0.01,57.0,52.0,0.91,0.0,2
2,1.0,3.0,0.0,0.0,8.0,7.0,1.0,9040.0,3494.0,3465.0,0.0,4145.0,2942.0,1049.0,689.0,215.0,1.0,13.0,7.0,30.0,27.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,0.0,NaN,10.0,9.0,0.04,0.0,0.0,0.11,0.03,29.48,0.0,0.0,0.0,0.0,1.0,5808.0,0.76,0.17,0.04,0.02,0.01,53.0,43.0,0.81,0.0,2
3,1.0,4.0,0.0,0.0,2.0,1.0,6.0,9951.0,3942.0,3774.0,0.0,3005.0,4358.0,1349.0,786.0,453.0,0.0,4.0,3.0,36.0,30.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,3.0,0.0,NaN,24.0,22.0,0.06,0.0,2.0,0.24,0.00,28.80,0.0,0.0,0.0,0.0,0.0,5808.0,0.64,0.27,0.06,0.02,0.01,64.0,55.0,0.86,0.0,2
4,1.0,5.0,0.0,0.0,3.0,2.0,6.0,11323.0,4986.0,3969.0,2.0,3511.0,4462.0,2131.0,936.0,283.0,1.0,10.0,8.0,48.0,46.0,1.0,Midfield,0.0,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,NaN,19.0,17.0,0.13,0.0,0.0,0.38,0.01,28.37,0.0,0.0,0.0,2.0,0.0,5808.0,0.63,0.26,0.07,0.03,0.01,77.0,71.0,0.92,0.0,2

In [29]:
match_info['winning_team_id'] = match_info.apply(lambda x: x.home_team_id if x.home_team_score > x.away_team_score else x.away_team_id, axis=1)

In [30]:
match_info.head()

,away_team_id,away_team_score,home_team_id,home_team_score,id,match_date,match_location,winning_team_id
0,2,0,1,5,1,14 JUN 2018 18:00,Moscow / Luzhniki Stadium / RUS,1
1,4,1,3,0,2,15 JUN 2018 17:00,Ekaterinburg / Ekaterinburg Arena / RUS,4
2,6,3,5,3,3,15 JUN 2018 21:00,Sochi / Fisht Olympic Stadium / RUS,6
3,8,1,7,0,4,15 JUN 2018 18:00,Saint Petersburg /,8
4,10,1,9,2,5,16 JUN 2018 13:00,Kazan / Kazan Arena / RUS,9

In [31]:
src_wo_draw['winning_flag'] = src_wo_draw.apply(lambda x: 1 if match_info[(match_info.id == x.match_id) & (match_info.winning_team_id == x.team_id)].__len__() > 0 else 0, axis=1)
src_wo_draw.head()

/usr/local/Cellar/python3/3.6.4_2/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,match_id,player_id,2YR,ASSIST,CA,CC,DAT,DC,DCIP,DCNIP,DPA,DZONE1,DZONE2,DZONE3,DZONE4,DZONE5,FOUL,Long_PA,Long_PC,Medium_PA,Medium_PC,OFF,POS,RC,SAT,SAVE,SCORE,SHOT,SPA,SPRINT,SRAT,SRPA,SUB,Short_PA,Short_PC,TA3RD,TG,TNG,TOH,TPA,TS,TSCORE,TSCORE_OG,TSCORE_PEN,TSL,TSNL,TTP,TZONE1,TZONE2,TZONE3,TZONE4,TZONE5,Total_PA,Total_PC,Total_PP,YC,team_id,winning_flag
0,1.0,1.0,0.0,0.0,3.0,3.0,1.0,4027.0,1818.0,1252.0,0.0,2955.0,919.0,137.0,16.0,0.0,0.0,25.0,10.0,9.0,9.0,0.0,Goalkeeper,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0,0.0,0.00,0.0,0.0,0.00,0.00,14.83,0.0,0.0,0.0,0.0,0.0,5808.0,0.94,0.06,0.01,0.00,0.00,34.0,19.0,0.56,0.0,2,0
1,1.0,2.0,0.0,0.0,5.0,4.0,2.0,7997.0,2836.0,3301.0,0.0,3830.0,2593.0,877.0,500.0,197.0,0.0,8.0,7.0,39.0,36.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,30.0,0.0,0.0,NaN,10.0,9.0,0.05,1.0,2.0,0.08,0.02,27.90,0.0,0.0,0.0,0.0,1.0,5808.0,0.79,0.16,0.04,0.01,0.01,57.0,52.0,0.91,0.0,2,0
2,1.0,3.0,0.0,0.0,8.0,7.0,1.0,9040.0,3494.0,3465.0,0.0,4145.0,2942.0,1049.0,689.0,215.0,1.0,13.0,7.0,30.0,27.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,0.0,0.0,NaN,10.0,9.0,0.04,0.0,0.0,0.11,0.03,29.48,0.0,0.0,0.0,0.0,1.0,5808.0,0.76,0.17,0.04,0.02,0.01,53.0,43.0,0.81,0.0,2,0
3,1.0,4.0,0.0,0.0,2.0,1.0,6.0,9951.0,3942.0,3774.0,0.0,3005.0,4358.0,1349.0,786.0,453.0,0.0,4.0,3.0,36.0,30.0,0.0,Defender,0.0,0.0,0.0,0.0,0.0,0.0,47.0,3.0,0.0,NaN,24.0,22.0,0.06,0.0,2.0,0.24,0.00,28.80,0.0,0.0,0.0,0.0,0.0,5808.0,0.64,0.27,0.06,0.02,0.01,64.0,55.0,0.86,0.0,2,0
4,1.0,5.0,0.0,0.0,3.0,2.0,6.0,11323.0,4986.0,3969.0,2.0,3511.0,4462.0,2131.0,936.0,283.0,1.0,10.0,8.0,48.0,46.0,1.0,Midfield,0.0,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,NaN,19.0,17.0,0.13,0.0,0.0,0.38,0.01,28.37,0.0,0.0,0.0,2.0,0.0,5808.0,0.63,0.26,0.07,0.03,0.01,77.0,71.0,0.92,0.0,2,0

In [32]:
src_wo_draw.POS.unique()

array(['Goalkeeper', 'Defender', 'Midfield', 'Forward'], dtype=object)

In [33]:
src_gk = src_wo_draw[src_wo_draw.POS == 'GoalKeeper']
src_df = src_wo_draw[src_wo_draw.POS == 'Defender']
src_mf = src_wo_draw[src_wo_draw.POS == 'Midfield']
src_fw = src_wo_draw[src_wo_draw.POS == 'Forward']

In [34]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
src_gk.corr